closure-library-read-only
closure-compiler
conf/acoustics.ini
conf/id_rsa*
conf/lastfm
conf/ezstream.xml
bin/tagreader
*.swp
.backup
www-data/auth/.htaccess
*test.pl
cover_db
robots.txt
*.so
*.so.*
taglib-1.6.1
lib/pkgconfig
*.a
*.la
include
bin/taglib-config
.gitignore
*.sqlite
