[database]
data_source=dbi:mysql:host=localhost;database=acoustics
user=acoustics
pass=

[scanner]
# you can restrict the scanner to a single part of your filesystem
# leave blank if you don't care
require_prefix=/path/to/my/music

[player]
module=Acoustics::Player::MPlayer
# Cap votes per voter (optional)
# max_votes = 50

[rpc]
# pick one:
# module=Acoustics::RPC::SSH_PrivateKey
# host=musicalbox
# user=aparsons
# private_key=conf/id_rsa
# player_remote=/home/aparsons/projects/acoustics/bin/player-remote.pl

# module=Acoustics::RPC::Remctl
# host=musicalbox

[webauth]
# pick one:
# module=Acoustics::Web::Auth::Simple
# field=REMOTE_ADDR # pick something in %ENV
# or... field=random # random integer
# or... field=time # the Unix timestamp

# module=Acoustics::Web::Auth::Kerberos
# use_pts_for_admin=0 # only useful if you have AFS
# pts_admin_group=proj.acoustics
