DirectoryIndex index.pl
Options +Includes

AuthType Kerberos
AuthName "ACM.UIUC.EDU Kerberos (your ACM linux password)"

KrbMethodNegotiate on
KrbAuthRealms ACM.UIUC.EDU
Krb5Keytab /etc/www.keytab
KrbSaveCredentials on

require valid-user
