body
{
	background: #f0f0ff;
	font-family: Calibri, Tahoma, Verdana, sans-serif;
	font-size: 9pt;
}

img {
	border: none;
	vertical-align: text-bottom;
}
#top {
  width: 66%;
  position: relative;
}
#logo {
  width: 55%;
}
#search {
  float: right;
  margin-right: 3%;
  clear: both;
}

.icon {
	height: 16px;
	height: 16px;
	padding-right: 2px;
	padding-left: 2px;
}

a {
	color: #191970;
}

#center
{
  margin-top: 2em;
}
#right {
	float: right;
	height: 98%;
	position: fixed;
	right: 1%;
	top: 1%;
	width: 30%;
	overflow: auto;
}

#footer {
	font-style: italic;
	clear: both;
}
#result_title {
  font-size: 1.5em;
  margin-left: 20%;
}
#result_table {
	border-spacing: 0px;
}
#songresults {
  width: 66%;
}
#songresults td {
	border-bottom: 1px dotted gray;
	padding-left: 1px;
}

#right {
	background: url('gradient.png') repeat-x;
	background: url('[% wwwdata_url %]gradient.png') repeat-x;
	padding-left: 1em;
	border: 1px solid #262626;
	padding-top: 2px;
}
#nowplaying {
  padding: .5em;
  margin: .5em 1em .5em .5em;
}
 
#currentsong {
  margin-bottom: 1em;
}

#playcontrols {
	padding: 5px;
}

#playcontrols ul {
	display: inline;
	list-style: none;
}
#playcontrols ul li {
	display: inline;
	margin-left: 5%;
}

#playcontrols img {
  width: 10%;
}

#playlist ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#playlist li {
	font-size: .9em;
	padding-bottom: .5em;
}

#result_table {
	width: 100%;
}


#result_table .datacol {
	font-size: .9em;
	width: 33%;
}

/*the ruler color, for when you hover over the row in the result table*/
.ruled tbody tr:hover {
	background:#6996AD;
}

.ruled thead th {
	border-bottom: 1px dotted black;
}
