body
{
	background: #f0f0ff;
}

img {
	border: none
}
#top {
  width: 66%;
  position: relative;
}
#logo {
  width: 55%;
}
#search {
  float: right;
  margin-right: 3%;
  clear: both;
}

.icon {
	height: 16px;
	height: 16px;
	padding-right: 2px;
	padding-left: 2px;
}

/*added*/
a {
	color: #191970;
}

.goog-tablesorter-header {cursor: pointer}
.goog-slider-horizontal {
	background-color: ThreeDFace;
	position: relative;
	overflow: hidden;
}

.goog-slider-thumb {
	position: absolute;
	background-color: ThreeDShadow;
	overflow: hidden;
}

.goog-slider-horizontal .goog-slider-thumb {
	top: 0;
	width: 10%;
	height: 100%;
}

th.goog-tablesorter-sorted {
	background-color: #ffcccc;
}
th.goog-tablesorter-sorted-reverse {
	background-color: #ccccff;
}

#container
{
}
#container .column
{
	/*border: 1px solid gray;*/
}
#center
{
	float: left;
	width: 66%;
}
#right {
	float: right;
	height: 98%;
	position: fixed;
	right: 1%;
	top: 1%;
	width: 30%;
	overflow: auto;
}

#footer {
	font-style: italic;
	clear: both;
}

#result_table {
	border-spacing: 0px;
}
#songresults td {
	border-bottom: 1px dotted gray;
	padding-left: 1px;
}

/*added*/
#right {
	background: url('gradient.png') repeat-x;
	padding-left: 1em;
	border: 1px solid #262626;
	padding-top: 2px;
}
#nowplaying {
  padding: .5em;
  margin: .5em 1em .5em .5em;
}
 
#currentsong {
  margin-bottom: 1em;
}

#playcontrols {
	padding: 5px;
}

#playcontrols ul {
	display: inline;
	list-style: none;
}
#playcontrols ul li {
	display: inline;
	margin-left: 2em; //changed!
}

#playcontrols img {
  width: 10%;
}

#playlist ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#playlist li {
	font-size: .8em;
	padding-bottom: .5em;
}

#result_table {
	width: 100%;
}


#result_table .datacol {
	font-size: .9em;
	width: 33%;
}

/*the ruler color, for when you hover over the row in the result table*/
.ruled tbody tr:hover {
	background:#6996AD;
}

.ruled thead th {
	border-bottom: 1px dotted black;
}
