body
{
    background: #f0f0ff;
}

img {
    border: none
}

.goog-tablesorter-header {cursor: pointer}
.goog-slider-horizontal {
    background-color: ThreeDFace;
    position: relative;
    overflow: hidden;
}

.goog-slider-thumb {
    position: absolute;
    background-color: ThreeDShadow;
    overflow: hidden;
}

.goog-slider-horizontal .goog-slider-thumb {
    top: 0;
    width: 10%;
    height: 100%;
}

th.goog-tablesorter-sorted {
    background-color: #ffcccc;
}
th.goog-tablesorter-sorted-reverse {
    background-color: #ccccff;
}

#container
{
}
#container .column
{
    border: 1px solid gray;
}
#center
{
    float: left;
    width: 75%;
}
#right
{
    width: 22%;
    float: right;
}

#footer {
    font-style: italic;
    clear: both;
}

#songresults td {
    border: 1px dotted gray;
}

#playlist ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#playlist li {
    font-size: .8em;
    padding-bottom: .5em;
}

#result_table {
    width: 100%;
}


#result_table .datacol {
    font-size: .9em;
    width: 33%;
}
