body {
	position: fixed;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	height: 100%;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	font-family: sans-serif;
	font-size: 14px;
}

ul { display: inline; }
ul li { display: inline; }

a, a:visited {
	color: #ccc;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

a img {
	border: none;
}

#header-bar {
	width: 100%;
	height: 40px;
	background-color: #222222;
	color: #fff;
	background-image: url(amp_images/header.png);
}
	#header-bar-logo {
		float: left;
		padding-left: 20px;
		width: 100px;
		vertical-align: center;
		text-align: center;
	}
		#header-bar-logo img {
			height: 40px;
		}
	#header-bar-spacer {
		float: left;
		width: 60px;
	}
	#header-bar-menu {
		float: left;
	}
		/*
		 * from Listamatic
		 * Jeffrey Zeldman's DWWS menu
		 */
		#header-bar-menu-container {
			padding: 0px;
			height: 40px;
		}
		#header-bar-menu-container ul {
			border: 0;
			margin: 0;
			padding: 0;
			list-style-type: none;
			text-align: center;
		}
		#header-bar-menu-container ul li {
			display: block;
			float: left;
			text-align: center;
			margin: 0;
			padding: 0;
		}
		#header-bar-menu-container ul li a {
			padding: 12px 10px 0 10px;
			height: 40px;
			display: block;
			color: #bbb;
			font-size: 14px;
			text-decoration: none;
			outline: none;
		}
		#header-bar-menu-container ul li a:hover {
			color: #fff;
		}
		.header-bar-menu-selected {
			background-color: #363538 !important;
			color: #fff !important;
			font-weight: bold;
			-webkit-border-top-left-radius: 8px;
			-webkit-border-top-right-radius: 8px;
			-moz-border-radius-topleft: 8px;
			-moz-border-radius-topright: 8px;
			border-top-left-radius: 8px;
			border-top-right-radius: 8px;
			box-shadow: 0 0 2px 2px #000;
			-moz-box-shadow: 0 0 2px 2px #000;
			-webkit-box-shadow: 0 0 2px 2px #000;
		}
			.header-bar-menu-dropdown {
				display: none;
				position: absolute;
				z-index: 50;
				width: 100px;
				top: 40px;
				margin-left: -30px;
				background-color: #222;
				-webkit-border-bottom-right-radius: 8px;
				-webkit-border-bottom-left-radius: 8px;
				-moz-border-radius-bottomright: 8px;
				-moz-border-radius-bottomleft: 8px;
				border-bottom-right-radius: 8px;
				border-bottom-left-radius: 8px;
				-moz-box-shadow: 0 5px 5px #000;
				-webkit-box-shadow: 0 5px 5px #000;
				box-shadow: 0 5px 5px #000;
			}
			.header-bar-menu-dropdown li {
				display: block;
				width: 100px;
				height: 40px;
				padding-bottom: 0px;
				padding-top: 0px;
			}
			.header-bar-menu-dropdown li a {
				color: #ddd;
				height: 40px;
				padding-bottom: 0px;
				outline: none;
			}
			.header-bar-menu-dropdown li a:hover {
				color: #fff;
			}

	#header-bar-user {
		text-align: right;
		float: right;
		width: 250px;
		padding-top: 10px;
		padding-right: 20px;
		margin: 0 0 0 0;
		font-size: 14px;
		font-family: sans-serif;
		color: #bbb;
		text-shadow: 1px 1px 1px #777;
	}
	#user-name {
		color: #fff;
	}


.toolbar {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	height: 32px;
	background: url(images/ui2/header.png);
}
	.toolbar ul li {
		display: block;
		float: left;
		margin: 0;
		height: 32px;
		margin-top: 5px;
		margin-left: 4px;
		margin-right: 4px;
		color: #fff;
	}
	.toolbar-right {
		float: right !important;
	}
	.toolbar ul li span {
		color: #fff;
		text-shadow: 1px 1px 1px #000;
	}
	/*
	 * Bunch of styling from Chad Mazzola's CSS3 Buttons set
	 */
	.toolbar ul li a {
		padding: 3px 3px 3px 3px;
		background-color: #000;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
		-moz-box-shadow: inset 1px 1px 1px 0px rgba(135, 135, 135, 0.1), inset -1px -1px 1px 0px rgba(135, 135, 135, 0.1);
		-webkit-box-shadow: inset 1px 1px 1px 0px rgba(135, 135, 135, 0.1), inset -1px -1px 1px 0px rgba(135, 135, 135, 0.1);
		box-shadow: inset 1px 1px 1px 0px rgba(135, 135, 135, 0.1), inset -1px -1px 1px 0px rgba(135, 135, 135, 0.1);
		background: #111;
		background: -moz-linear-gradient(0% 100% 90deg, #FFFFFF, #000000,
					rgba(0, 0, 0, 0.9) 0%,
					rgba(20, 20, 20, 0.9) 50%,
					rgba(30, 30, 30, 0.9) 50%,
					rgba(50, 50, 50, 0.9) 100%);
		background: -webkit-gradient(linear, 0 0, 0 100%,
					color-stop(0, rgba(50, 50, 50, 0.9)),
					color-stop(0.5, rgba(30, 30, 30, 0.9)),
					color-stop(0.5, rgba(20, 20, 20, 0.9)),
					color-stop(1, rgba(0, 0, 0, 0.9)));
		font-size: 14px;
		color: #fff;
		text-decoration: none;
		text-shadow: 0px -1px 1px rgba(0, 0, 0, .8), 0 1px 1px rgba(255, 255, 255, 0.3);
		outline: none;
	}
	.toolbar ul li a:hover {
		background: #222;
		background: -moz-linear-gradient(0% 100% 90deg, #FFFFFF, #000000,
					rgba(20, 20, 20, 0.9) 0%,
					rgba(40, 40, 40, 0.9) 50%,
					rgba(50, 50, 50, 0.9) 50%,
					rgba(70, 70, 70, 0.9) 100%);
		background: -webkit-gradient(linear, 0 0, 0 100%,
					color-stop(0, rgba(70, 70, 70, 0.9)),
					color-stop(0.5, rgba(50, 50, 50, 0.9)),
					color-stop(0.5, rgba(40, 40, 40, 0.9)),
					color-stop(1, rgba(20, 20, 20, 0.9)));
		text-shadow: 1px 1px 1px #333;
	}
	.toolbar ul li a:active {
		background: #000;
		background: -moz-linear-gradient(0% 100% 90deg, #FFFFFF, #000000,
					rgba(0, 0, 0, 0.9) 0%,
					rgba(10, 10, 10, 0.9) 50%,
					rgba(20, 20, 20, 0.9) 50%,
					rgba(30, 30, 30, 0.9) 100%);
		background: -webkit-gradient(linear, 0 0, 0 100%,
					color-stop(0, rgba(30, 30, 30, 0.9)),
					color-stop(0.5, rgba(20, 20, 20, 0.9)),
					color-stop(0.5, rgba(10, 10, 10, 0.9)),
					color-stop(1, rgba(0, 0, 0, 0.9)));
	}

.statusbar {
	position: absolute;
	bottom: 0px;
	left: 0px;
	right: 0px;
	height: 24px;
	padding-right: 10px;
	background: url(images/ui2/statusbar.png);
	vertical-align: text-bottom;
}
	.statusbar div {
		float: left;
		margin-top: 3px;
		margin-left: 5px;
		margin-right: 5px;
		font-family: sans-serif;
		font-size: 14px;
		color: #fff;
		text-shadow: 1px 1px 1px #000;
		height: 21px;
		line-height: 21px;
		vertical-align: text-bottom;
	}
	.statusbar-right {
		float: right !important;
		text-align: right;
	}

.container {
	position: absolute;
	bottom: 24px;
	top: 32px;
	left: 0;
	right: 0;
	background-color: #666;
	overflow-y: scroll;
	overflow-x: auto;
}

.floaty {
	display: none;
	position: absolute;
	top: 20px;
	left: 20px;
	border: 1px solid #000;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	box-shadow: 2px 2px 2px rgba(0,0,0,0.25);
	background-color: #666;
}

#main-content {
	position: absolute;
	top: 40px;
	bottom: 0px;
	right: 0px;
	left: 0px;
}

	#search-results {
		position: absolute;
		float: left;
		top: 0px;
		left: 0px;
		right: 300px;
		bottom: 0px;
		background-color: #444;
		color: #FFF;
		padding-left: 0px;
		margin-left: 0px;
	}
		.input-split-form {
			font-size: 0px;
		}
		.input-split-form-wide {
			font-size: 0px;
			margin: 2px;
		}
		.input-split-box {
			-webkit-border-top-right-radius: 6px;
			-webkit-border-bottom-right-radius: 6px;
			-moz-border-radius-topright: 6px;
			-moz-border-radius-bottomright: 6px;
			border-top-right-radius: 6px;
			border-bottom-right-radius: 6px;
			border: 1px solid #000;
			background-color: #888;
			width: 200px;
			font-size: 13px;
			padding-left: 0px;
			margin-left: 0px;
		}
		.input-split-button {
			-webkit-border-top-left-radius: 6px;
			-webkit-border-bottom-left-radius: 6px;
			-moz-border-radius-topleft: 6px;
			-moz-border-radius-bottomleft: 6px;
			border-top-left-radius: 6px;
			border-bottom-left-radius: 6px;
			margin-right: 0px;
			font-size: 13px;
			padding-top: 1px;
			padding-bottom: 1px;
			padding-left: 2px;
			padding-right: 2px;
			border: 1px solid #000;
			border-right: 0;
			background-color: #777;
		}
		.input-split-dropdown {
			margin-right: 0px;
			font-size: 13px;
			padding-top: 1px;
			padding-bottom: 1px;
			padding-left: 2px;
			padding-right: 2px;
			border: 1px solid #000;
			border-right: 0;
			background-color: #777;
		}
		.input-split-dropdown input {
			display: none;
		}
		.input-split-dropdown label.expanded {
			display: inline !important;
		}
		.input-split-dropdown label {
			display: none;
		}
		.input-split-dropdown input:checked + label {
			display: inline !important;
		}
		.input-split-dropdown input:checked + label.expanded {
			background-color: #524057 !important;
		}
		#search-box:focus {
			background-color: #fff;
		}
		#search-advanced-container {
			height: 14px;
		}
		#search-results-table {
			width: 100%;
			border-collapse: collapse;
		}
		#search-results-table tbody tr td {
			font-size: 12px;
			height: 14px;
			vertical-align: top;
			overflow: hidden;
		}
		#search-results-table tbody tr td a {
			color: #fff;
		}
		#search-results-table tbody tr:hover td {
			background-color: #888 !important;
			color: #000;
		}
		#search-results-table tbody tr:hover td a {
			color: #000;
		}
		#search-results-table tbody tr.odd td {
			background-color: #444;
		}
		.sr-th {
			font-size: 14px;
			font-weight: bold;
			text-shadow: 1px 1px 1px #000;
			border-bottom: 1px solid #000;
		}
		#sr-vote { width: 20px; }
		#sr-track { width: 20px; }
		#sr-length { width: 50px; }
			.search-results-entry-song-id {
				display: none;
				width: 0;
				height: 0;
				overflow: hidden;
			}
		#search-results-song-details {
			right: 20px;
			height: 200px;
			padding: 4px;
		}
			#search-results-song-details div a {
				color: #fff;
			}
			#song-details-album-art {
				height: 160px;
				width: 128px;
				float: left;
				margin-right: 10px;
			}
			#song-details-close {
				position: absolute;
				right: 10px;
				bottom: 10px;
			}
			#search-results-song-details div {
				white-space: nowrap;
				overflow: hidden;
				padding-left: 4px;
			}
			#song-details-title {
				font-weight: bold;
				font-size: 20px;
				text-shadow: 0px 1px 1px #ccc;
			}
			#song-details-artist {
				font-size: 16px;
			}
			#song-details-album {
				font-size: 14px;
			}
			#song-details-file {
				font-size: 13px;
			}

	#right-panel {
		position: absolute;
		float: right;
		top: 0px;
		right: 0px;
		width: 300px;
		bottom: 0px;
		height: 100%;
	}

		#now-playing-panel {
			position: relative;
			height: 100px;
			width: 300px;
			overflow: hidden;
			background-color: #222;
			color: #fff;
		}
			#now-playing-panel div a {
				color: #fff;
			}
			#nothing-playing-info {
				font-size: 16px;
				font-weight: bold;
				text-shadow: 1px 1px 1px #888;
				text-align: center;
				width: 300px;
				height: 100px;
				line-height: 100px;
				vertical-align: center;
			}
			#now-playing-album-art {
				height: 80px;
				width: 64px;
				float: left;
			}
			#now-playing-info {
				float: left;
				width: 236px;
				height: 80px;
				overflow: hidden;
				font-family: sans-serif;
				font-size: 14px;
			}
				#now-playing-info div {
					white-space: nowrap;
					width: 236px;
					overflow: hidden;
					padding-left: 4px;
					/* Ellipse [...] on overflow, where supported */
					text-overflow: ellipsis;
					text-overflow-mode: ellipsis;
				}
				#now-playing-title {
					font-weight: bold;
					font-size: 16px;
					text-shadow: 0px 1px 1px #ccc;
				}
				#now-playing-album {
					font-size: 13px;
				}
				#now-playing-times {
					font-style: oblique;
				}
			#now-playing-progress-container {
				position: absolute;
				top: 80px;
				height: 20px;
				width: 280px;
				margin-left: 10px;
			}
			#now-playing-progress {
				margin-top: 4px;
				height: 10px;
			}

		#controls {
			position: relative;
			height: 100px;
			overflow: hidden;
			background-color: #222;
		}
			#controls-top {
				height: 50px;
				overflow: hidden;
			}
			#controls-bottom {
				height: 50px;
				overflow: hidden;
			}
			#controls div a {
				display: block;
				height: 50px;
				float: left;
				width: 100px;
				text-align: center;
				padding-top: 8px;
				outline: none !important;
				text-decoration: none;
				color: #fff;
				font-weight: bold;
				font-size: 28px;
				text-shadow: 0px 1px 1px #000;
			}
			#controls div a:hover {
				background-color: #333;
			}

		#queue {
			position: absolute;
			top: 200px;
			left: 0;
			right: 0;
			bottom: 0;
			background-color: #000;

		}

		#queue-list {
			padding: 0;
			margin: 0;
		}

			.queue-song {
				background-color: #555;
				color: #fff;
				border-bottom: 1px solid black;
				height: 40px;
				overflow: hidden;
				font-size: 14px;
				line-height: 20px;
				vertical-align: baseline;
				list-style-type: none;
			}
				.queue-song a {
					color: #fff;
				}
				.queue-song-voted {
					background-color: #524057 !important;
				}
				.queue-song-data {
					display: none;
					height: 0;
					width: 0;
				}
				.queue-song-handle {
					width: 8px;
					height: 40px;
					background: url(images/ui2/handle.png);
					margin-right: 2px;
					float: left;
				}
				.queue-song-info {
					float: left;
				}
				.queue-song-toprow {
					width: 260px;
					white-space: nowrap;
					overflow: hidden;
				}
				.queue-song-title {
					width: 240px;
					overflow: hidden;
					white-space: nowrap;
					text-overflow: ellipsis;
					text-overflow-mode: ellipsis;
				}
				.queue-song-vote-button {
					width: 20px;
					float: left;
					text-align: center;
				}
				.queue-song-vote-count {
					float: left;
					width: 20px;
					text-align: center;
				}
				.queue-song-artist {
					float: left;
					width: 200px;
					overflow: hidden;
					text-overflow: ellipsis;
					text-overflow-mode: ellipsis;
				}
				.queue-song-bottomrow {
					width: 260px;
					white-space: nowrap;
				}
				.queue-song-time {
					float: right;
					overflow: hidden;
					font-size: 12px;
					text-align: right;
				}
				.queue-song-clear {
					clear: both;
				}
			.queue-song-placeholder {
				background-color: #666;
				border-bottom: 1px solid black;
				height: 40px;
				overflow: hidden;
				line-height: 40px;
				display: block;
				list-style-type: none;
			}
