body {
	position: absolute;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	height: 100%;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	font-family: sans-serif;
	font-size: 16px;
}

ul { display: inline; }
ul li { display: inline; }

a, a:visited {
	color: #ccc;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

#header-bar {
	width: 100%;
	height: 40px;
	background-color: #222222;
	color: #fff;
	background-image: url(amp_images/header.png);
}
	#header-bar-logo {
		float: left;
		padding-left: 20px;
		width: 100px;
		vertical-align: center;
		text-align: center;
	}
		#header-bar-logo img {
			height: 40px;
		}
	#header-bar-spacer {
		float: left;
		width: 60px;
	}
	#header-bar-menu {
		float: left;
	}
		/*
		 * from Listamatic
		 * Jeffrey Zeldman's DWWS menu
		 */
		#header-bar-menu-container {
			padding: 0px;
			height: 40px;
		}
		#header-bar-menu-container ul {
			border: 0;
			margin: 0;
			padding: 0;
			list-style-type: none;
			text-align: center;
		}
		#header-bar-menu-container ul li {
			display: block;
			float: left;
			text-align: center;
			margin: 0;
			padding: 0;
		}
		#header-bar-menu-container ul li a {
			background-color: #FFF;
			padding: 10px 10px 0 10px;
			height: 40px;
			display: block;
			background-color: #FFF;
			color: #222;
			text-decoration: none;
		}
		#header-bar-menu-container ul li a:hover {
			background-color: #000;
			color: #fff;
		}
		.header-bar-menu-selected {
			background-color: #444 !important;
			color: #ddd !important;
		}

	#header-bar-user {
		text-align: right;
		float: right;
		width: 200px;
		padding-top: 10px;
		padding-right: 20px;
		margin: 0 0 0 0;
		font-size: 14px;
		font-family: sans-serif;
		color: #bbb;
		text-shadow: 1px 1px 1px #777;
	}
	#user-name {
		color: #fff;
	}


.toolbar {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	height: 32px;
	background: url(images/ui2/header.png);
}
	.toolbar ul li {
		display: block;
		float: left;
		margin: 0;
		height: 32px;
		margin-top: 5px;
		margin-left: 4px;
		margin-right: 4px;
		color: #fff;
	}
	.toolbar-right {
		float: right !important;
	}
	.toolbar ul li span {
		color: #fff;
		text-shadow: 1px 1px 1px #000;
	}
	.toolbar ul li a {
		padding: 3px 3px 3px 3px;
		background-color: #000;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
		-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.5);
		-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.5);
		box-shadow: inset 0 1px 0 rgba(255,255,255,0.5);
		background: url(images/ui2/button.png);
		font-size: 14px;
		color: #ddd;
		text-decoration: none;
		text-shadow: 1px 1px 1px #333;
		outline: none;
	}
	.toolbar ul li a:hover {
		color: #fff;
		text-shadow: 1px 1px 1px #333;
	}

.statusbar {
	position: absolute;
	bottom: 0px;
	left: 0px;
	right: 0px;
	height: 24px;
	padding-right: 30px;
	background: url(images/ui2/statusbar.png);
	vertical-align: text-bottom;
}
	.statusbar div {
		float: left;
		margin-top: 3px;
		margin-left: 5px;
		margin-right: 5px;
		font-family: sans-serif;
		font-size: 14px;
		color: #fff;
		text-shadow: 1px 1px 1px #000;
		height: 21px;
		line-height: 21px;
		vertical-align: text-bottom;
	}
	.statusbar-right {
		float: right !important;
		text-align: right;
	}

.container {
	position: absolute;
	bottom: 24px;
	top: 32px;
	left: 0;
	right: 0;
	background-color: #666;
	overflow-y: scroll;
	overflow-x: auto;
}

#main-content {
	position: absolute;
	top: 40px;
	bottom: 0px;
	right: 0px;
	left: 0px;
}

	#search-results {
		position: absolute;
		float: left;
		top: 0px;
		left: 0px;
		right: 300px;
		bottom: 0px;
		background-color: #444;
		color: #FFF;
		padding-left: 0px;
		margin-left: 0px;
	}
		#search-box {
			-webkit-border-radius: 6px;
			-moz-border-radius: 6px;
			border-radius: 6px;
			border: 1px solid #000;
			background-color: #888;
			width: 400px;
			padding-left: 10px;
		}
		#search-box:focus {
			background-color: #fff;
		}
		#search-results-table {
			width: 100%;
			border-collapse: collapse;
		}
		#search-results-table tbody tr td {
			font-size: 12px;
			height: 14px;
			white-space: nowrap;
			overflow: hidden;
		}
		#search-results-table tbody tr.odd td {
			background-color: #444;
		}
		.sr-th {
			font-size: 14px;
			font-weight: bold;
			text-shadow: 1px 1px 1px #000;
			border-bottom: 1px solid #000;
		}
		#sr-vote { width: 20px; }
		#sr-track { width: 20px; }
		#sr-length { width: 50px; }

	#right-panel {
		position: absolute;
		float: right;
		top: 0px;
		right: 0px;
		width: 300px;
		bottom: 0px;
		height: 100%;
	}

		#now-playing-panel {
			position: relative;
			height: 100px;
			width: 300px;
			overflow: hidden;
		}
			#nothing-playing-info {
				text-align: center;
				width: 300px;
				height: 100px;
				vertical-align: center;
			}
			#now-playing-album-art {
				height: 80px;
				width: 64px;
				float: left;
			}
			#now-playing-info {
				background: #fff;
				float: left;
				width: 236px;
				height: 80px;
				overflow: hidden;
				font-family: sans-serif;
				font-size: 14px;
			}
				#now-playing-info div {
					white-space: nowrap;
					width: 236px;
					overflow: hidden;
					padding-left: 4px;
					/* Ellipse [...] on overflow, where supported */
					text-overflow: ellipsis;
					text-overflow-mode: ellipsis;
				}
				#now-playing-title {
					font-weight: bold;
					font-size: 16px;
					text-shadow: 0px 1px 1px #888;
				}
				#now-playing-album {
					font-size: 13px;
				}
				#now-playing-times {
					font-style: oblique;
				}
			#now-playing-progress-container {
				position: absolute;
				top: 80px;
				height: 20px;
				width: 280px;
				margin-left: 10px;
			}
			#now-playing-progress {
				margin-top: 4px;
				height: 10px;
			}

		#controls {
			position: relative;
			height: 100px;
			background-color: #DD0;
			overflow: hidden;
		}
			#controls-top {
				height: 50px;
				overflow: hidden;
			}
			#controls-bottom {
				height: 50px;
				overflow: hidden;
			}
			#controls div a {
				display: block;
				height: 50px;
				float: left;
				width: 100px;
				background-color: #fff;
				text-align: center;
				padding-top: 8px;
				outline: none !important;
				text-decoration: none;
				color: #000;
				font-weight: bold;
				font-size: 28px;
				text-shadow: 0px 1px 1px #666;
			}
			#controls div a:hover {
				background-color: #000;
				text-shadow: 0px 1px 1px #ccc;
				color: #fff;
			}

		#queue {
			position: absolute;
			top: 200px;
			left: 0;
			right: 0;
			bottom: 0;
			background-color: #000;

		}

		#queue-list {
			padding: 0;
			margin: 0;
		}

			.queue-song {
				background-color: #fff;
				border-bottom: 1px solid black;
				height: 40px;
				overflow: hidden;
			}
				.queue-song-data {
					display: none;
					height: 0;
					width: 0;
				}
				.queue-song-handle {
					width: 8px;
					height: 40px;
					background: url(images/ui2/handle.png);
					margin-right: 4px;
					float: left;
				}
				.queue-song-info {
					float: left;
				}
				.queue-song-toprow {
					width: 260px;
					white-space: nowrap;
				}
				.queue-song-vote-count {
					float: left;
					padding-right: 4px;
				}
				.queue-song-artist {
					float: left;
				}
				.queue-song-bottomrow {
					width: 260px;
					white-space: nowrap;
				}
				.queue-song-time {
					float: right;
				}
				.queue-song-clear {
					clear: both;
				}
			.queue-song-placeholder {
				background-color: #ff0;
				border-bottom: 1px solid black;
				height: 40px;
				line-height: 40px;
				display: block;
			}
