/* vim: shiftwidth=4 tabstop=4 noexpandtab
 */
body {
	background-color: #666;
}

body > tr {
	display: block;
	width: 300px;
	border: 1px solid #000;
	background-color: #666;
	height: 41px !important;
	background-color: #006cae;
	overflow: hidden;
	opacity: 0.6;
}
body > tr > td {
	display: block;
	float: left;
}
body > tr > td .control-button {
	display: none;
}
body > tr > td.search-results-entry-track {
	display: none;
}
body > tr > td.search-results-entry-title {
	display: block;
	width: 100%;
}
body > tr > td.search-results-entry-album {
	visibility: hidden;
	display: block;
	width: 20px !important;
	overflow: hidden;
}
body > tr > td.search-results-entry-artist {
	margin-left: 2px;
}
body > tr > td.search-results-entry-length {
	font-size: 12px;
	position: absolute;
	right: 2px;
	bottom: 2px;
	color: #fff;
}
body > tr > td a img {
	position: absolute;
	top: 22px;
	left: 2px;
}
body > tr > td a {
	color: #fff !important;
}
body > tr > td a:hover {
	text-decoration: none;
}

.queue-song-placeholder {
	background-image: url(images/ui2/drop-target.svg);
	background-repeat: no-repeat;
	background-position: center;
}

a, a:visited {
	color: #ccc;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

#header-bar {
	background-color: #222222;
	color: #fff;
}

#header-bar-menu-container ul li a {
	color: #bbb;
	background-color: #222222;
}
#header-bar-menu-container ul li a:hover {
	color: #fff;
}
.header-bar-menu-selected {
	background-color: #363538 !important;
	color: #fff !important;
	-webkit-border-top-left-radius: 8px;
	-webkit-border-top-right-radius: 8px;
	-moz-border-radius-topleft: 8px;
	-moz-border-radius-topright: 8px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	box-shadow: 0 0 2px 2px #000;
	-moz-box-shadow: 0 0 2px 2px #000;
	-webkit-box-shadow: 0 0 2px 2px #000;
}

.header-bar-menu-dropdown {
	background-color: #222;
	-webkit-border-bottom-right-radius: 8px;
	-webkit-border-bottom-left-radius: 8px;
	-moz-border-radius-bottomright: 8px;
	-moz-border-radius-bottomleft: 8px;
	border-bottom-right-radius: 8px;
	border-bottom-left-radius: 8px;
	-moz-box-shadow: 0 5px 5px #000;
	-webkit-box-shadow: 0 5px 5px #000;
	box-shadow: 0 5px 5px #000;
}
.header-bar-menu-dropdown li a {
	color: #ddd;
}
.header-bar-menu-dropdown li a:hover {
	color: #fff;
}

#header-bar-user {
	color: #bbb;
	text-shadow: 1px 1px 1px #777;
}

#user-name {
	color: #fff;
}

.toolbar {
	background: url(images/ui2/header.png);
}
.toolbar ul li {
	margin-top: 5px;
	margin-left: 2px;
	margin-right: 2px;
	color: #fff;
}
.toolbar ul li span {
	color: #fff;
	text-shadow: 1px 1px 1px #000;
}
/*
 * Bunch of styling from Chad Mazzola's CSS3 Buttons set
 */
.toolbar ul li a {
	padding: 3px 3px 3px 3px;
	background-color: #000;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border: 1px solid #222;
	-moz-box-shadow: inset 1px 1px 1px 0px rgba(135, 135, 135, 0.1), inset -1px -1px 1px 0px rgba(135, 135, 135, 0.1);
	-webkit-box-shadow: inset 1px 1px 1px 0px rgba(135, 135, 135, 0.1), inset -1px -1px 1px 0px rgba(135, 135, 135, 0.1);
	box-shadow: inset 1px 1px 1px 0px rgba(135, 135, 135, 0.1), inset -1px -1px 1px 0px rgba(135, 135, 135, 0.1);
	background: #111;
	background: -moz-linear-gradient(0% 100% 90deg, #FFFFFF, #000000,
				rgba(0, 0, 0, 0.9) 0%,
				rgba(20, 20, 20, 0.9) 50%,
				rgba(30, 30, 30, 0.9) 50%,
				rgba(50, 50, 50, 0.9) 100%);
	background: -webkit-gradient(linear, 0 0, 0 100%,
				color-stop(0, rgba(50, 50, 50, 0.9)),
				color-stop(0.5, rgba(30, 30, 30, 0.9)),
				color-stop(0.5, rgba(20, 20, 20, 0.9)),
				color-stop(1, rgba(0, 0, 0, 0.9)));
	font-size: 14px;
	color: #fff;
	text-decoration: none;
	text-shadow: 0px -1px 1px rgba(0, 0, 0, .8), 0 1px 1px rgba(255, 255, 255, 0.3);
	outline: none;
}
.toolbar ul li a:hover {
	background: #222;
	background: -moz-linear-gradient(0% 100% 90deg, #FFFFFF, #000000,
				rgba(20, 20, 20, 0.9) 0%,
				rgba(40, 40, 40, 0.9) 50%,
				rgba(50, 50, 50, 0.9) 50%,
				rgba(70, 70, 70, 0.9) 100%);
	background: -webkit-gradient(linear, 0 0, 0 100%,
				color-stop(0, rgba(70, 70, 70, 0.9)),
				color-stop(0.5, rgba(50, 50, 50, 0.9)),
				color-stop(0.5, rgba(40, 40, 40, 0.9)),
				color-stop(1, rgba(20, 20, 20, 0.9)));
	text-shadow: 1px 1px 1px #333;
}
.toolbar ul li a:active {
	background: #000;
	background: -moz-linear-gradient(0% 100% 90deg, #FFFFFF, #000000,
				rgba(0, 0, 0, 0.9) 0%,
				rgba(10, 10, 10, 0.9) 50%,
				rgba(20, 20, 20, 0.9) 50%,
				rgba(30, 30, 30, 0.9) 100%);
	background: -webkit-gradient(linear, 0 0, 0 100%,
				color-stop(0, rgba(30, 30, 30, 0.9)),
				color-stop(0.5, rgba(20, 20, 20, 0.9)),
				color-stop(0.5, rgba(10, 10, 10, 0.9)),
				color-stop(1, rgba(0, 0, 0, 0.9)));
}
.toolbar ul li a img {
	vertical-align: top;
	margin-top: -2px;
}

.statusbar {
	background: url(images/ui2/statusbar.png);
}
.statusbar div {
	color: #fff;
	text-shadow: 1px 1px 1px #000;
}

.container {
	background-color: #666;
}

.floaty {
	border: 1px solid #000;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	box-shadow: 2px 2px 2px rgba(0,0,0,0.25);
	background-color: #333;
}

#info {
	background-color: #666;
	color: #FFF;
}
#info-about {
	box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
	background-color: rgba(0,0,0,0.3);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.info-value {
	font-weight: bold;
}
#album-search {
	background-color: #444;
	color: #FFF;
}
#manage {
	background-color: #444;
	color: #FFF;
}
#search-results {
	background-color: #444;
	color: #FFF;
}
.input-split-box {
	-webkit-border-top-right-radius: 6px;
	-webkit-border-bottom-right-radius: 6px;
	-moz-border-radius-topright: 6px;
	-moz-border-radius-bottomright: 6px;
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
	background-color: #888;
	border: 1px solid #000;
}
.input-split-button {
	-webkit-border-top-left-radius: 6px;
	-webkit-border-bottom-left-radius: 6px;
	-moz-border-radius-topleft: 6px;
	-moz-border-radius-bottomleft: 6px;
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;
	border: 1px solid #000;
	background-color: #777;
	border-right: 0;
}
.input-split-left {
	-webkit-border-top-left-radius: 6px;
	-webkit-border-bottom-left-radius: 6px;
	-moz-border-radius-topleft: 6px;
	-moz-border-radius-bottomleft: 6px;
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;
	border-left: 1px solid #000;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	background-color: #777;
}
.input-split-dropdown {
	border: 1px solid #000;
	background-color: #777;
	border-right: 0;
}
.input-split-dropdown input:checked + label.expanded {
	border: 1px solid #999;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color: #999;
	color: #000;
}
.input-split-right {
	-webkit-border-top-right-radius: 6px;
	-webkit-border-bottom-right-radius: 6px;
	-moz-border-radius-topright: 6px;
	-moz-border-radius-bottomright: 6px;
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
	border-right: 1px solid #000;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
}
.input-split-disabled {
	background-color: #555;
	color: #777;
}
#search-box:focus {
	background-color: #fff;
}
#search-results-advanced-container {
	background-image: url(images/ui2/shadow.png);
	background-repeat: repeat-x;
	background-position: 0 100%;
}
#search-results-table tbody tr td a {
	color: #fff;
}
/*
#search-results-table tbody tr:hover td {
	background-color: #888 !important;
	color: #000;
}
#search-results-table tbody tr:hover td a {
	color: #000;
}
 */
#search-results-table tbody tr:nth-child(odd) td {
	background-color: #444;
}
.sr-th {
	font-weight: bold;
	text-shadow: 1px 1px 1px #000;
	border-bottom: 1px solid #000;
}
.search-results-entry-vote {
	font-size: 12px !important;
	padding: 1px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	margin: 1px !important;
	color: #fff !important;
}
.search-results-entry-vote:hover {
	color: #fff !important;
	text-decoration: none;
}
.search-results-entry-voted {
	background: none !important;
	background-color: #006cae !important;
}
.search-results-entry-voted:hover {
	background-color: #127dbf !important;
}
#search-results-song-details div a {
	color: #fff;
}
#song-details-title {
	font-weight: bold;
	text-shadow: 0px 1px 1px #ccc;
}
.panel-tab {
	color: #FFF;
	-webkit-border-top-left-radius: 8px;
	-webkit-border-bottom-left-radius: 8px;
	-moz-border-radius-topleft: 8px;
	-moz-border-radius-bottomleft: 8px;
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
	opacity: 0.3;
}
.panel-tab:hover {
	opacity: 1.0;
}
#now-playing-panel {
	background-color: #222;
	color: #fff;
}
#now-playing-panel div a {
	color: #fff;
}
#nothing-playing-info {
	font-weight: bold;
	text-shadow: 1px 1px 1px #888;
}
#controls {
	background-color: #222;
}
#controls div a {
	color: #fff;
}
#queue {
	background-color: #000;
}
.queue-song {
	background-color: #555;
	color: #fff;
}
.queue-song a {
	color: #fff;
}
.queue-song-voted {
 /*
	background-color: #524057 !important;
	*/
 background-color: #006cae;
}
.queue-song-vote-button a { opacity: 0.6; }
.queue-song-vote-button a:hover { opacity: 1.0; }
.queue-song-move-up a { opacity: 0.1; }
.queue-song-move-up.queue-song-voted a { opacity: 0.6; }
.queue-song-move-up a:hover { opacity: 1.0; }
.queue-song-move-down a { opacity: 0.1; }
.queue-song-move-down.queue-song-voted a { opacity: 0.6; }
.queue-song-move-down a:hover { opacity: 1.0; }
.queue-song-vote-count {
	text-shadow: 1px 1px 1px rgba(0,0,0,0.4);
}
.queue-song-handle {
	background: url(images/ui2/handle.png);
}
.queue-song-placeholder {
	background-color: #666;
	border-bottom: 1px solid black;
}
#playlist-panel {
	background-color: #666;
}
	#playlist-search-container {
		background-color: #666;
		color: #FFF;
		font-size: 12px;
	}

	#playlist-search-container div span a {
		color: #FFF;
	}

/* Control button is styled off the toolbar buttons. I hate code duplication, so this makes me sad */
.control-button {
	background-color: #000;
	border: 1px solid #222;
	-moz-box-shadow: inset 1px 1px 1px 0px rgba(135, 135, 135, 0.1), inset -1px -1px 1px 0px rgba(135, 135, 135, 0.1);
	-webkit-box-shadow: inset 1px 1px 1px 0px rgba(135, 135, 135, 0.1), inset -1px -1px 1px 0px rgba(135, 135, 135, 0.1);
	box-shadow: inset 1px 1px 1px 0px rgba(135, 135, 135, 0.1), inset -1px -1px 1px 0px rgba(135, 135, 135, 0.1);
	background: #111;
	background: -moz-linear-gradient(0% 100% 90deg, #FFFFFF, #000000,
				rgba(0, 0, 0, 0.9) 0%,
				rgba(20, 20, 20, 0.9) 50%,
				rgba(30, 30, 30, 0.9) 50%,
				rgba(50, 50, 50, 0.9) 100%);
	background: -webkit-gradient(linear, 0 0, 0 100%,
				color-stop(0, rgba(50, 50, 50, 0.9)),
				color-stop(0.5, rgba(30, 30, 30, 0.9)),
				color-stop(0.5, rgba(20, 20, 20, 0.9)),
				color-stop(1, rgba(0, 0, 0, 0.9)));
	font-size: 14px;
	color: #fff;
	text-decoration: none;
	text-shadow: 0px -1px 1px rgba(0, 0, 0, .8), 0 1px 1px rgba(255, 255, 255, 0.3);
	outline: none;
}
.control-button:hover {
	background: #222;
	background: -moz-linear-gradient(0% 100% 90deg, #FFFFFF, #000000,
				rgba(20, 20, 20, 0.9) 0%,
				rgba(40, 40, 40, 0.9) 50%,
				rgba(50, 50, 50, 0.9) 50%,
				rgba(70, 70, 70, 0.9) 100%);
	background: -webkit-gradient(linear, 0 0, 0 100%,
				color-stop(0, rgba(70, 70, 70, 0.9)),
				color-stop(0.5, rgba(50, 50, 50, 0.9)),
				color-stop(0.5, rgba(40, 40, 40, 0.9)),
				color-stop(1, rgba(20, 20, 20, 0.9)));
	text-shadow: 1px 1px 1px #333;
	text-decoration: none;
}
.control-button:active {
	background: #000;
	background: -moz-linear-gradient(0% 100% 90deg, #FFFFFF, #000000,
				rgba(0, 0, 0, 0.9) 0%,
				rgba(10, 10, 10, 0.9) 50%,
				rgba(20, 20, 20, 0.9) 50%,
				rgba(30, 30, 30, 0.9) 100%);
	background: -webkit-gradient(linear, 0 0, 0 100%,
				color-stop(0, rgba(30, 30, 30, 0.9)),
				color-stop(0.5, rgba(20, 20, 20, 0.9)),
				color-stop(0.5, rgba(10, 10, 10, 0.9)),
				color-stop(1, rgba(0, 0, 0, 0.9)));
}

#song-details-edit-album-art img {
	vertical-align: top;
	margin-top: 2px;
}
#song-details-delete-album-art img {
	vertical-align: top;
	margin-top: 2px;
}

#controls-stop {
	-webkit-border-top-left-radius: 15px;
	-moz-border-radius-topleft: 15px;
	border-top-left-radius: 15px;
}
#controls-next {
	-webkit-border-top-right-radius: 15px;
	-moz-border-radius-topright: 15px;
	border-top-right-radius: 15px;
}
#controls-volume-down {
	-webkit-border-bottom-left-radius: 15px;
	-moz-border-radius-bottomleft: 15px;
	border-bottom-left-radius: 15px;
}
#controls-volume-up {
	-webkit-border-bottom-right-radius: 15px;
	-moz-border-radius-bottomright: 15px;
	border-bottom-right-radius: 15px;
}

.button-link {
	padding: 3px 3px 3px 3px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	margin: 5px !important;
	line-height: 25px;
}

/* jquery UI fixes */
.ui-progressbar {
	background: #222222 !important;
	border: 1px solid #fff;
}
.ui-progressbar-value {
	border: 1px solid #fff;
	background: #fff !important;
}

#manage-container {
	padding-left: 10px;
}
#manage-container a {
	color: #fff;
	padding: 2px;
}

#manage-container h1 {
	font-size: 16px;
	font-weight: bold;
	color: #008cde;
	border-bottom: 1px solid #008cde;
	padding-bottom: 2px;
	margin-bottom: 2px;
}

.toolbar-fade-out {
	background-image: url(images/ui2/hack-header.png);
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	width: 200px;
}

/* Sorting hints for search results */
.sortDown {
	background: -moz-linear-gradient(top, rgba(30,87,153,1) 0%, rgba(125,185,232,0) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,1)), color-stop(100%,rgba(125,185,232,0)));
	background: -webkit-linear-gradient(top, rgba(30,87,153,1) 0%,rgba(125,185,232,0) 100%);
	background: -o-linear-gradient(top, rgba(30,87,153,1) 0%,rgba(125,185,232,0) 100%);
	background: -ms-linear-gradient(top, rgba(30,87,153,1) 0%,rgba(125,185,232,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#007db9e8',GradientType=0 );
	background: linear-gradient(top, rgba(30,87,153,1) 0%,rgba(125,185,232,0) 100%);
}
.sortUp {
	background: -moz-linear-gradient(top, rgba(125,185,232,0) 0%, rgba(30,87,153,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(125,185,232,0)), color-stop(100%,rgba(30,87,153,1)));
	background: -webkit-linear-gradient(top, rgba(125,185,232,0) 0%,rgba(30,87,153,1) 100%);
	background: -o-linear-gradient(top, rgba(125,185,232,0) 0%,rgba(30,87,153,1) 100%);
	background: -ms-linear-gradient(top, rgba(125,185,232,0) 0%,rgba(30,87,153,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007db9e8', endColorstr='#1e5799',GradientType=0 );
	background: linear-gradient(top, rgba(125,185,232,0) 0%,rgba(30,87,153,1) 100%);
}
